cryptography
firebase-admin
folium
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
MarkupSafe
numpy
pandas
pillow
plotly
pydeck
python-dotenv
requests
st-pages
streamlit
streamlit_folium
